@use './burger-toggle.scss';

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #13131580;
  width: 100%;

  &__container {
    @media screen and (width < 1250px) {
      width: 90%;
    }

    .navigate {
      display: flex;
      justify-content: center;

      &__list {
        display: flex;
        justify-content: space-around;
      }
      &__item {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;
        padding: 26px 5px 26px 5px;

        &:hover {
          background-color: #6f6f7d1a;
          cursor: pointer;
          transition: background-color 0.2s;
        }
        &:first-child a:first-child {
          font-size: 20px;
          font-weight: 600;
        }
      }
    }
  }
}
