.main {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #fff;
  padding-bottom: 30px;
  padding-top: 90px;

  @media screen and (max-width: 800px) {
    justify-content: space-around;
    gap: 50px;
  }
}

.main__media {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__media_line-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100px;

  @media screen and (max-width: 780px) {
    justify-content: center;
    margin-left: -5%;
    margin-right: -10%;
  }
  @media screen and (max-width: 400px) {
    align-self: self-end;
    margin-right: -80px;
  }

  span {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ffff;
  }
}
.main__media-image {
  object-fit: contain;
  width: 100%;
  height: auto;
  flex: 0 1 100%;

  @media screen and (width < 400px) {
    margin-right: -5%;
  }
}

.main__media_info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end;
  text-shadow: 0 4px 4px #00000040;
}
.main__media_info p:nth-child(1) {
  font-weight: 300;
  letter-spacing: 0.2em;
  font-size: 1.275em;

  @media screen and (max-width: 780px) {
    text-align: center;
  }
  @media screen and (max-width: 400px) {
    font-size: 0.75em;
  }
}

.main__media_info p:nth-child(2) {
  font-weight: 400;
  letter-spacing: 0.25em;
  font-size: 6.5em;
  margin-right: -0.25em;

  @media screen and (max-width: 780px) {
    font-size: 5em;
    margin-right: 0;
  }
  @media screen and (max-width: 400px) {
    font-size: 2.75em;
  }
}

.main__row {
  display: flex;
  width: 100%;
  text-shadow: 0 4px 4px #00000040;

  @media screen and (max-width: 780px) {
    justify-content: end;
  }
}
.main__row_text {
  width: 200px;
  font-size: 30px;
  font-weight: 500;

  @media screen and (max-width: 780px) {
    font-size: 24px;
    text-align: end;
  }
}

.main__copyright {
  text-align: right;
  font-size: 20px;
  font-weight: 600;

  @media screen and (max-width: 780px) {
    text-align: center;
  }
}
