@use './reset.scss';
@use './components/header/header.scss';
@use './components/main/main.scss';
@use './components/about/about.scss';
@use './components/advantages/advantages.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;

  a {
    color: #fff;
  }

  a,
  span,
  input {
    display: inline-block;
  }

  .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(95vw, max(65vw, 1000px));
  }

  .background__first {
    background-image: url('../../assets/backgrounds/fonstola-1.webp');
    background-size: cover;
  }
}
